# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

*.pyc
*.db
*.sqlite
*.sqlite3

# Database
data/*.db

# ML models
models/personalized/*.pkl

# IDE
.vscode/